# üë®üèΩ‚Äçüíª Ejercicio Pandas: DataFrame 02

##### **Ejercicio** 1Ô∏è‚É£
Descargue un archivo .csv de (Kaggle)[https://www.kaggle.com/]:
- Obtenga los 10 primeros renglones.
- Obtenga los ultimos 10 renglones.
- Cree una nueva columna con la suma de 2 columnas.
- Obtenga el valor m√≠nimo de la columna.
- Obtenga el promedio de la columna.
- Obtenga la sumatoria de toda la columna.

In [1]:
# Importar librer√≠as:
import pandas as pd
import numpy as np

In [4]:
# Crear DataFrame con base en un archivo CSV
# (Coeficiente intelectual global medio por pa√≠s con otras estad√≠sticas):
avg_iq_per_country = pd.read_csv('c:\\Users\\Admin\\Documents\\ITS\\Semestre 9\\Data_Science\\Pandas\\Datasets\\avg_iq_per_country.csv')

In [5]:
# Obtener los primeros 10 renglones:
avg_iq_per_country.head(10)

,Rank,Country,Average IQ,Continent,Literacy Rate,Nobel Prices,HDI (2021),Mean years of schooling - 2021,GNI - 2021,Population - 2023
0,1,Japan,106.48,Asia,0.99,29,0.925,13.4,42274.0,123294513
1,2,Taiwan,106.47,Asia,0.96,4,NaN,NaN,NaN,10143543
2,3,Singapore,105.89,Asia,0.97,0,0.939,11.9,90919.0,6014723
3,4,Hong Kong,105.37,Asia,0.94,1,0.952,12.2,62607.0,7491609
4,5,China,104.10,Asia,0.96,8,0.768,7.6,17504.0,1425671352
5,6,South Korea,102.35,Asia,0.98,0,0.925,12.5,44501.0,51784059
6,7,Belarus,101.60,Europe,1.00,2,0.808,12.1,18849.0,9498238
7,8,Finland,101.20,Europe,1.00,5,0.940,12.9,49452.0,5545475
8,9,Liechtenstein,101.07,Europe,1.00,0,0.935,12.5,146830.0,\t39315
9,10,Germany,100.74,Europe,0.99,111,0.942,14.1,54534.0,83294633

In [6]:
# Obtener los √∫ltimos 10 renglones:
avg_iq_per_country.tail(10)

,Rank,Country,Average IQ,Continent,Literacy Rate,Nobel Prices,HDI (2021),Mean years of schooling - 2021,GNI - 2021,Population - 2023
183,184,South Sudan,58.61,Africa,0.32,0,0.385,5.7,768.0,11088796
184,185,Ghana,58.16,Africa,0.77,1,0.632,8.3,5745.0,34121985
185,186,Costa do Marfim,58.16,Africa,0.43,0,NaN,NaN,NaN,28873034
186,187,Guinea,53.48,Africa,0.30,0,0.465,2.2,2481.0,14190612
187,188,Nicaragua,52.69,Central America,0.82,0,0.667,7.1,5625.0,7046311
188,189,Gambia,52.68,Africa,0.58,0,0.500,4.6,2172.0,2773168
189,190,Guatemala,47.72,Central America,0.79,2,0.627,5.7,8723.0,18092026
190,191,Liberia,45.07,Africa,0.48,2,0.481,5.1,1289.0,5418377
191,192,Sierra Leone,45.07,Africa,0.48,0,0.477,4.6,1622.0,8791092
192,193,Nepal,42.99,Asia,0.65,0,0.602,5.1,3877.0,30896590

In [9]:
# Crear una nueva columna con la suma de las columnas 'Average IQ' y 'Nobel Prices':
avg_iq_per_country['Suma'] = avg_iq_per_country['Average IQ'] + avg_iq_per_country['Nobel Prices']
avg_iq_per_country

,Rank,Country,Average IQ,Continent,Literacy Rate,Nobel Prices,HDI (2021),Mean years of schooling - 2021,GNI - 2021,Population - 2023,Suma
0,1,Japan,106.48,Asia,0.99,29,0.925,13.4,42274.0,123294513,135.48
1,2,Taiwan,106.47,Asia,0.96,4,NaN,NaN,NaN,10143543,110.47
2,3,Singapore,105.89,Asia,0.97,0,0.939,11.9,90919.0,6014723,105.89
3,4,Hong Kong,105.37,Asia,0.94,1,0.952,12.2,62607.0,7491609,106.37
4,5,China,104.10,Asia,0.96,8,0.768,7.6,17504.0,1425671352,112.10
...,...,...,...,...,...,...,...,...,...,...,...
188,189,Gambia,52.68,Africa,0.58,0,0.500,4.6,2172.0,2773168,52.68
189,190,Guatemala,47.72,Central America,0.79,2,0.627,5.7,8723.0,18092026,49.72
190,191,Liberia,45.07,Africa,0.48,2,0.481,5.1,1289.0,5418377,47.07
191,192,Sierra Leone,45.07,Africa,0.48,0,0.477,4.6,1622.0,8791092,45.07
192,193,Nepal,42.99,Asia,0.65,0,0.602,5.1,3877.0,30896590,42.99

In [10]:
# M√≠nimo de la nueva columna:
avg_iq_per_country['Suma'].min()

42.99

In [11]:
# Promedio de la nueva columna:
avg_iq_per_country['Suma'].mean()

87.97020725388602

In [12]:
# Suma de la nueva columna:
avg_iq_per_country['Suma'].sum()

16978.25